.Rectangle {
  width: 375px;
  height: 667px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bgGray {
  background-color: #f6f6f6;
  justify-content: unset;

}