.ResultContainer {
  font-family: AppleSDGothicNeo;
  .Result {
    display: flex;
    margin: 0 16px;
    margin-top: 11px;
    align-items: center;
    img {
      width: 13px;
      height: 17px;
      top: -7px;
    }
    .SpanBox {
      width: 100%;
      height: 46px;
      margin-left: 25px;
      border-bottom: solid 1px #ebebeb;
      display: flex;
      flex-direction: column;
      .Data {
        font-size: 14px;
        color: #000000;
        font-weight: 550;
      }
      .Post {
        font-size: 13px;
        color: #aaaaaa;
      }
    }
  }
}
