.ReplyInputContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .ReplyInput {
    width: 298px;
    height: 36px;
    border-radius: 19px;
    border: solid 1px #e0e0e0;
    background-color: #ffffff;
    padding-left: 16px;
  }
}
