.FollowOnTop {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  margin-bottom: 8px;
  img {
    width: 8px;
    height: 14px;
  }
}